body {
    font-family: Arial, sans-serif;
}

#logo{
    width: 200px;
    height: 100px;
}

.hero {
    background: url('https://www.verywellhealth.com/thmb/j0vxuHC9mNjAd-dImQQzZ1fJtoE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/VWH-GettyImages-900220552-df2ce9de189b42b08660a9c86f33ac15.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.icons img {
    max-width: 50px;
    margin-bottom: 1rem;
}

.content-section img {
    width: 100%;
    margin: 0;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
}

.latest-articles img {
    max-height: 200px;
    object-fit: cover;
}

.btn-success {
    background-color: #4CAF50;
    border: none;
    padding: 20px;
    border-radius: 0;

}

.btn-success:hover {
    background-color: #45a049;
}
