#nav_logo{
    height: 100px;
    width: 220px;
    padding: 10px;
}

#nav_link{
    text-decoration: none;
    margin-left: 20px;
}

#nav_list{
    margin-top: 20px;
    justify-content: end;
}

#header_btn{
    border-radius: 0;
    padding: 0px;
    margin-left: 50px;
    margin-top: 5px;
    background-color: #8F9F87;
}

.header{
    display: flex;
}

#banner{
    width: 100%;
    height: 500px;
    background-image: url(https://media.istockphoto.com/id/531475568/photo/patient-and-medical-staff.jpg?s=612x612&w=0&k=20&c=KqciFJ4FCJMwY04Ucjx1ZJe_316jM65GAUlmbTmGzBk=);
    background-size: cover;
}